<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  <!-- Assignment wrapper around the vendor UR macro. Geometry remains vendor-owned. -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find ur3_perception_llm_control)/urdf/gripper.xacro"/>

  <xacro:arg name="name" default="ur"/>
  <xacro:arg name="ur_type" default="ur3e"/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="initial_positions_file" default="$(find ur_description)/config/initial_positions.yaml"/>
  <xacro:arg name="safety_limits" default="true"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="sim_ignition" default="false"/>
  <xacro:arg name="simulation_controllers" default=""/>
  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:arg name="script_filename" default=""/>
  <xacro:arg name="input_recipe_filename" default=""/>
  <xacro:arg name="output_recipe_filename" default=""/>

  <xacro:property name="scene_file" value="$(env UR3_LLM_SCENE_CONFIG)"/>
  <xacro:property name="scene" value="${xacro.load_yaml(scene_file)}"/>
  <xacro:property name="mount" value="${scene['robot']['mount_pose']}"/>

  <link name="world"/>

  <xacro:ur_robot
    name="$(arg name)"
    tf_prefix="$(arg prefix)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    ur_type="$(arg ur_type)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    sim_ignition="$(arg sim_ignition)"
    initial_positions="${xacro.load_yaml('$(arg initial_positions_file)')}"
    robot_ip="$(arg robot_ip)"
    script_filename="$(arg script_filename)"
    input_recipe_filename="$(arg input_recipe_filename)"
    output_recipe_filename="$(arg output_recipe_filename)">
    <origin
      xyz="${mount['x']} ${mount['y']} ${mount['z']}"
      rpy="${mount['roll']} ${mount['pitch']} ${mount['yaw']}"/>
  </xacro:ur_robot>

  <xacro:assignment_parallel_gripper
    parent="$(arg prefix)tool0"
    sim_ignition="$(arg sim_ignition)"/>

  <!-- Fortress fixed-joint constraints for the Assignment 03 physical grasp.
       Gazebo merges gripper_base's fixed joint into wrist_3_link, so the
       surviving wrist link is the physical parent. Each cube's SDF link is
       named link. The M7 manager detaches initial joints before any motion. -->
  <xacro:macro name="assignment_cube_joint" params="cube">
    <gazebo>
      <plugin filename="ignition-gazebo-detachable-joint-system"
              name="ignition::gazebo::systems::DetachableJoint">
        <parent_link>wrist_3_link</parent_link>
        <child_model>${cube}</child_model>
        <child_link>link</child_link>
        <detach_topic>/m7/grasp/${cube}/detach</detach_topic>
        <attach_topic>/m7/grasp/${cube}/attach</attach_topic>
        <output_topic>/m7/grasp/${cube}/state</output_topic>
        <suppress_child_warning>true</suppress_child_warning>
      </plugin>
    </gazebo>
  </xacro:macro>

  <xacro:if value="$(arg sim_ignition)">
    <xacro:assignment_cube_joint cube="red_cube"/>
    <xacro:assignment_cube_joint cube="yellow_cube"/>
    <xacro:assignment_cube_joint cube="blue_cube"/>
    <xacro:assignment_cube_joint cube="green_cube"/>
    <xacro:assignment_cube_joint cube="purple_cube"/>
    <gazebo reference="world"/>
    <gazebo>
      <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(arg simulation_controllers)</parameters>
        <controller_manager_node_name>$(arg prefix)controller_manager</controller_manager_node_name>
      </plugin>
    </gazebo>
  </xacro:if>
</robot>
